{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}

    <!-- Cart -->

    <h1>&nbsp</h1>
    <h1>&nbsp</h1>
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92"
             style="background-image: url('{% static 'images/bg-01.jpg' %}');">
        <h2 class="ltext-105 cl0 txt-center">
            {% translate 'Контакты' %}
        </h2>
    </section>


    <!-- Content page -->
    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr">
                <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    <form method="post">
                        {% csrf_token %}
                        <h4 class="mtext-105 cl2 txt-center p-b-30">
                            {% translate 'Отправьте нам сообщение' %}
                        </h4>

                        <div class="bor8 m-b-20 how-pos4-parent">
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="name"
                                   placeholder="{% translate 'Как вас зовут?' %}">
                            <img class="how-pos4 pointer-none" style="width: 20px;"
                                 src="{% static 'images/icons/icon-user.png' %}" alt="ICON">
                        </div>
                        <span class="text-danger">{{ form.errors.name }}</span>

                        <div class="bor8 m-b-20 how-pos4-parent">
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email"
                                   placeholder="{% translate 'Ваша электронная почта' %}">
                            <img class="how-pos4 pointer-none" src="{% static 'images/icons/icon-email.png' %}"
                                 alt="ICON">
                        </div>
                        <span class="text-danger">{{ form.errors.email }}</span>
                        <div class="bor8 m-b-20 how-pos4-parent">
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="phone"
                                   placeholder="{% translate 'Ваш номер телефона' %}">
                            <img class="how-pos4 pointer-none" width="23px" src="{% static 'images/icons8-phone-50(1).png' %}"
                                 alt="ICON">
                        </div>
                        <span class="text-danger">{{ form.errors.phone }}</span>

                        <div class="bor8 m-b-30">
                            <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="message"
                                      placeholder="{% translate 'Как мы можем помочь?' %}"></textarea>
                        </div>

                        <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                            {% translate 'Отправить' %}
                        </button>
                    </form>
                </div>

                <div style="padding-bottom: 90px;"
                     class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

                        <div class="size-212 p-t-4">
							<span class="mtext-110 cl2">
								{% translate 'Адрес' %}
							</span>

                            <p class="stext-115 cl6 size-213 p-t-18">
                                {% translate 'Magic sity Магазин COZA STORE' %}
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								{% translate 'связаться с нами' %}
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                +998 97 172 20-05
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								{% translate 'Поддержка продаж' %}
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                jasurisrailov1@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}