{% extends 'layouts/base.html' %}
{% load static %}
{% block account_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper bg-image" style="background-image: url({% static 'images/account.jpg' %}); width: 100%; ">
    <div class="inner">
        <div>
            {% if user.is_authenticated %}
            <a class="pr-2 text-center" href="">
                Logout
            </a>
            {% else %}
            <div class="text-center">
                <h3>do you have an account?</h3>
                <span><a class="" href="">yes</a> or <a href="">no</a></span>
            </div>
            <div class="my_account text-center pt-4 btn_a">
                <a class="pr-2" href="{% url 'login' %}">
                    Login
                </a>
                <a class="pl-2" href="{% url 'registration' %}">
                    Registration
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}