{% load static i18n %}
<div class="flex-w flex-sb-m p-b-52">
    <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        {% for bar in bar_categories %}
        <a onclick="addUrlParameter('bar', {{ bar.pk }})"
           class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5
           {% if request.GET.bar == bar.pk|stringformat:'i' %} how-active1 {% endif %}">
            {{ bar.name }}
        </a>
        {% endfor %}
    </div>

    <div>
        <input type="text" class="js-range-slider" name="my_range" value=""/>
    </div>

    <div class="flex-w flex-c-m m-tb-10">
        <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
            {% translate 'Фильтр' %}
        </div>

        <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
            <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
            <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
            {% translate 'Поиск' %}
        </div>
    </div>

    <!-- Search product -->
    <div class="dis-none panel-filter w-full p-t-10">
        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
            <div class="filter-col1 p-r-15 p-b-27">
                <div class="mtext-102 cl2 p-b-15">
                    {% translate 'Категории' %}
                </div>

                <ul>
                    {% for cat in categories %}
                    <li class="p-b-6">
                        <a onclick="addUrlParameter('cat', {{ cat.pk }})"
                           class="filter-link{% if request.GET.cat == cat.pk|stringformat:'i' %}-active text-primary{% endif %}"
                           style="cursor: pointer; color: #aaa;">
                            {{ cat.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="filter-col2 p-r-15 p-b-27">
                <div class="mtext-102 cl2 p-b-15">
                    {% translate 'Цена' %}
                </div>

                <ul style="color: #999;">
                    <li class="p-b-6">
                        <a href="" class="filter-link stext-106 trans-04">
                            All
                        </a>
                    </li>
                    <li class="p-b-6">
                        <a href="" class="filter-link stext-106 trans-04">
                            Low To High
                        </a>
                    </li>
                    <li class="p-b-6">
                        <a href="" class="filter-link stext-106 trans-04">
                            High To Low
                        </a>
                    </li>
                    <li class="p-b-6">
                        <a href="" class="filter-link stext-106 trans-04">
                            Sale
                        </a>
                    </li>

                </ul>
            </div>

            <div class="filter-col3 p-r-15 p-b-27">
                <div class="mtext-102 cl2 p-b-15">
                    {% translate 'Цвет' %}
                </div>

                <ul>
                    {% for color in colors %}
                    <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: {{ color.code }};">
										<i class="zmdi zmdi-circle"></i>
									</span>

                        <a onclick="addUrlParameter('color', {{ color.pk }})"
                           class="filter-link{% if request.GET.color == color.pk|stringformat:'i' %}-active text-primary{% endif %}">
                            {{ color.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="filter-col4 p-b-27">
                <div class="mtext-102 cl2 p-b-15">
                    {% translate 'Теги' %}
                </div>

                <div class="flex-w p-t-4 m-r--5">
                    {% for tag in tags %}
                    <a onclick="addUrlParameter('tag', {{ tag.pk }})" style="cursor: pointer;
                    {% if request.GET.tag == tag.pk|stringformat:'i' %}
                        background-color: #747dd9; color: #fff;
                    {% endif %}"
                       class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                        {{ tag.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Filter -->
    <div class="dis-none panel-search w-full p-t-10 p-b-15">
        <form action="{% url 'shop:home' %}" method="get">
            <div class="bor8 dis-flex p-l-15">
                <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>

                <input value="{{ request.GET.search }}" class="mtext-107 cl2 size-114 plh2 p-r-15" type="text"
                       name="search"
                       placeholder="{% translate 'Поиск' %}">
            </div>
        </form>
    </div>
</div>